//Var
$color-button : #F78065;
$color-hover : #C46651;

//Root
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    line-height: 1.2;
}
  
body{
    font-family: "Montserrat", sans-serif;

}

h1,h2,h3{font-family: 'Merriweather', serif;}

h2{font-size: 36px;}

h3{ font-size: 22px;}

a{
    color: #000;
    &:hover{
        color: $color-button;
    }
}

hr{
    width: 85%;
    margin: 0px auto 30px auto;
}

//Nav
.navbar {
    position: absolute;
    padding: 40px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 130px;
    box-sizing: border-box;
    .logo{
        width: 32px;
        height: 32px;
    }
    .menu{
        display: flex;
        align-items: center;
        padding: 15px;
        border-radius: 50px;
        background-color: #ffffff;
        img:first-child{
            margin-right: 10px;
        }
    }
}

//Header
header {
    height: 600px;
    width: 100%;
    background-image: url(/integration-figma-design/assets/img/women.png);
    background-size: cover;
}

//CTA
.cta{
    width: 740px;
    height: 540px;
    background-color: #ffffff;
    position: absolute;
    bottom: 0px;
    margin-left: 100px;
    filter: drop-shadow(0px 7px 100px rgba(0, 0, 0, 0.1));
    .cta-content{
     height: 100%;
     width: 100%;
     padding: 90px 60px;
     display: flex;
     flex-direction: column;
     justify-content: space-around;
     box-sizing: border-box;
     h1{font-size: 39px;}
     p{font-size: 20px;}
     a{
         width: 250px;
         height: 65px;
         background-color: $color-button;
         display: flex;
         justify-content: center;
         align-items: center;
         font-size: 18px;
         font-weight: 600;
         color: #ffffff;
         &:hover{
             background-color: $color-hover;
         }
     }
    }
 }

//Card
.card-main{
    width: 85%;
    margin: 400px auto 240px auto;
    display: flex;
    justify-content: space-between;
    .card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .card-content{
            width: 33%;
            padding: 40px;
            position: relative;
            img{
                margin-bottom: 60px;
                height: 180x;
            }
            h3{margin-bottom: 20px;}
            p{
                font-size: 16px;
                margin-bottom: 20px;
            }
            a{
                font-size: 18px; 
                font-weight: bold; color: 
                $color-button;
                position: absolute;
                bottom: 0;
                &:hover{
                    color: $color-hover;
                }
            }
        }
    }
}

//Facility
.facility-main{
    width: 85%;
    margin: 0 auto 240px auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    h2{
        width: 100%;
        margin-bottom: 100px;
    }
    .facility-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        .facility-content{
            width: 25%;
            padding: 20px;
            position: relative;
            img{margin-bottom: 60px;}
            h3,p{margin-bottom: 30px;}
            a{
                font-size: 18px; 
                font-weight: bold; 
                color: $color-button;
                position: absolute;
                bottom: 0;
                &:hover{
                    color: $color-hover;
                }
            }
        }
    }
}

//Community
.community{
    width: 85%;
    margin: 0 auto 240px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    .community-title{
        width: 30%;
        margin-right: 120px;
        h2{margin-bottom: 30px;}
        a{
            width: 250px;
            height: 65px;
            margin-top: 30px;
            background-color: $color-button;
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 18px;
            font-weight: 600;
            color: #ffffff;
            &:hover{
                background-color: $color-hover;
            }
        }
    }
    .community-img{
        width: 70%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        h3{margin-top: 20px;}
        p{font-size: 14px; margin: 20px auto;}
        a{
            font-size: 18px; 
            color: $color-button;
            &:hover{
                color: $color-hover;
            }
        }
    }
}

//Advantages
.advantages{
    width: 85%;
    margin: 0 auto 240px auto;
    display: flex;
    flex-direction: column;
    h2{margin-bottom: 100px;}
    &-card{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        &-content{
            width: 33%;
            padding: 20px;
            img{margin-bottom: 60px;}
            h3{margin-bottom: 20px;}
            p{font-size: 14px;}
        }
    }
}

//Footer
footer{
    background-color: #F7F7F7;
    .footer-top{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        padding: 100px;
        .footer-title{
            width: 30%;
            h3{margin-bottom: 16px;}
            p{font-size: 48px; font-family: 'Merriweather', serif;}
        }
        .footer-menu{
            display: flex;
            flex-direction: column;
            margin-right: 30px;
            h3{margin-bottom: 16px;}
            a{margin-bottom: 16px;}
        }
        .footer-job{
            display: flex;
            flex-direction: column;
            h3{margin-bottom: 16px;}
            a{margin-bottom: 16px;}
        }
        .footer-assist{
            display: flex;
            flex-direction: column;
            h3{margin-bottom: 16px;}
            a{margin-bottom: 16px;}
        }
    }
    .footer-bottom{
        width: 85%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0px 100px 50px 100px;
        .footer-end-menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            a{
                margin-right: 48px;
            }
        }
    }
}

//Responsive
@media screen and (max-width: 480px){
    .navbar{
        padding: 20px 40px;
    }
    header {
        height: 300px;
        width: 100%;
        background-position: center;
    }
    .cta{
        position: relative;
        bottom: auto;
        margin-left: 0;
        margin-bottom: 120px;
        width: 100%;
        height: auto;
        .cta-content{
            padding: 30px;
            h1{font-size: 30px;}
            p{font-size: 16px;}
            h1,p{margin-bottom: 15px;}
            a{width: 160px; height: 50px; font-size: 16px;}
        }
    }
    .card-main{
        width: 100%;
        margin: 0px 0px 120px 0px;
        .card{
            flex-wrap: wrap;
            .card-content{
                width: 100%;
                padding: 30px;
                margin-bottom: 30px;
                a{position: relative;}
            }
        }
    }
    .facility-main{
        width: 100%;
        margin-bottom: 120px;
        h2{margin-bottom: 50px; padding: 20px;}
        .facility-card{
            flex-wrap: wrap;
            .facility-content{
                width: 100%;
                padding: 30px;
                margin-bottom: 50px;
            }
        }
    }
    .community{
        width: 100%;
        margin-bottom: 120px;
        flex-wrap: wrap;
        .community-title{
            width: 100%;
            margin-right: 0px;
            margin-bottom: 30px;
            padding: 30px;
            a{width: 160px; height: 50px; font-size: 16px;}
        }
        .community-img{
            flex-wrap: wrap;
            width: 100%;
            .community-content{
                width: 100%;
                padding: 30px;
                img{width: 200px;}
            }
        }
    }
    .advantages{
        width: 100%;
        margin-bottom: 120px;
        h2{padding: 30px; margin-bottom: 30px;}
        .advantages-card{
            width: 100%;
            flex-wrap: wrap;
            .advantages-card-content{
                width: 100%;
                padding: 30px;
            }
        }
    }
    .footer-main{
        .footer-top{
            width: 100%;
            flex-direction: column;
            padding: 0;
            margin: 0;
            .footer-title{
                margin: 30px;
            }
            .footer-menu{
                margin: 30px;
            }
            .footer-job{
                margin: 30px;
            }
            .footer-assist{
                margin: 30px;
            }
        }
        .footer-bottom{
            width: 100%;
            flex-direction: column;
            padding: 0;
            margin: 0;
            p{margin: 30px;}
            .footer-end-menu{
                flex-direction: column;
                div{
                    margin: 16px 30px;
                }
            }
        }
    }
}

@media screen and (min-width: 481px) and (max-width: 1024px){
    .navbar{
        padding: 20px 40px;
    }
    header {
        height: 500px;
        width: 100%;
        background-position: center;
    }
    .cta{
        position: relative;
        bottom: auto;
        margin-left: 0;
        margin-bottom: 120px;
        width: 100%;
        height: auto;
        .cta-content{
            padding: 50px;
            h1,p{margin-bottom: 15px;}
        }
    }
    .card-main{
        width: 100%;
        margin: 0px auto 120px auto;
        .card{
            width: 100%;
            padding: 50px;
            flex-wrap: nowrap;
            .card-content{
                width: 33%;
                padding: 20px;
                a{position: relative;}
            }
        }
    }
    .facility-main{
        width: 100%;
        margin: 0px auto 120px auto;
        h2{margin-bottom: 50px; padding-left: 50px;}
        .facility-card{
            width: 100%;
            padding: 50px;
            flex-wrap: nowrap;
            .facility-content{
                width: 25%;
            }
        }
    }
    .community{
        width: 100%;
        margin: 0px auto 120px auto;
        flex-direction: column;
        .community-title{
            width: 100%;
            margin-right: 60px;
            margin-bottom: 50px;
            padding-left: 50px;
        }
        .community-img{
            width: 100%;
            justify-content: space-around;
            align-items: center;
        }
    }
    .advantages{
        width: 100%;
        margin: 0px auto 120px auto;
        h2{margin-bottom: 50px; padding-left: 50px;}
       .advantages-card{
            padding: 50px;
            flex-wrap: nowrap;
            .advantages-card-content{
                width: 33%;
            }
       }
    }
    .footer-main{
        width: 100%;
        .footer-bottom{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p{margin-bottom: 20px;}
        }
    }
}