* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  line-height: 1.2;
}

body {
  font-family: "Montserrat", sans-serif;
}

h1, h2, h3 {
  font-family: "Merriweather", serif;
}

h2 {
  font-size: 36px;
}

h3 {
  font-size: 22px;
}

a {
  color: #000;
}
a:hover {
  color: #F78065;
}

hr {
  width: 85%;
  margin: 0px auto 30px auto;
}

.navbar {
  position: absolute;
  padding: 40px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 130px;
  box-sizing: border-box;
}
.navbar .logo {
  width: 32px;
  height: 32px;
}
.navbar .menu {
  display: flex;
  align-items: center;
  padding: 15px;
  border-radius: 50px;
  background-color: #ffffff;
}
.navbar .menu .img:first-child {
  margin-right: 15px;
}

header {
  height: 600px;
  width: 100%;
  background-image: url(/integration-figma-design/assets/img/women.png);
  background-size: cover;
}

.cta {
  width: 740px;
  height: 540px;
  background-color: #ffffff;
  position: absolute;
  bottom: 0px;
  margin-left: 100px;
  filter: drop-shadow(0px 7px 100px rgba(0, 0, 0, 0.1));
}
.cta .cta-content {
  height: 100%;
  width: 100%;
  padding: 90px 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  box-sizing: border-box;
}
.cta .cta-content h1 {
  font-size: 39px;
}
.cta .cta-content p {
  font-size: 20px;
}
.cta .cta-content a {
  width: 250px;
  height: 65px;
  background-color: #F78065;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.cta .cta-content a:hover {
  background-color: #C46651;
}

.card-main {
  width: 85%;
  margin: 400px auto 240px auto;
  display: flex;
  justify-content: space-between;
}
.card-main .card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-main .card .card-content {
  width: 33%;
  padding: 40px;
  position: relative;
}
.card-main .card .card-content img {
  margin-bottom: 60px;
  height: 180x;
}
.card-main .card .card-content h3 {
  margin-bottom: 20px;
}
.card-main .card .card-content p {
  font-size: 16px;
  margin-bottom: 20px;
}
.card-main .card .card-content a {
  font-size: 18px;
  font-weight: bold;
  color: #F78065;
  position: absolute;
  bottom: 0;
}
.card-main .card .card-content a:hover {
  color: #C46651;
}

.facility-main {
  width: 85%;
  margin: 0 auto 240px auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.facility-main h2 {
  width: 100%;
  margin-bottom: 100px;
}
.facility-main .facility-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.facility-main .facility-card .facility-content {
  width: 25%;
  padding: 20px;
  position: relative;
}
.facility-main .facility-card .facility-content img {
  margin-bottom: 60px;
}
.facility-main .facility-card .facility-content h3, .facility-main .facility-card .facility-content p {
  margin-bottom: 30px;
}
.facility-main .facility-card .facility-content a {
  font-size: 18px;
  font-weight: bold;
  color: #F78065;
  position: absolute;
  bottom: 0;
}
.facility-main .facility-card .facility-content a:hover {
  color: #C46651;
}

.community {
  width: 85%;
  margin: 0 auto 240px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.community .community-title {
  width: 30%;
  margin-right: 120px;
}
.community .community-title h2 {
  margin-bottom: 30px;
}
.community .community-title a {
  width: 250px;
  height: 65px;
  margin-top: 30px;
  background-color: #F78065;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: 600;
  color: #ffffff;
}
.community .community-title a:hover {
  background-color: #C46651;
}
.community .community-img {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.community .community-img h3 {
  margin-top: 20px;
}
.community .community-img p {
  font-size: 14px;
  margin: 20px auto;
}
.community .community-img a {
  font-size: 18px;
  color: #F78065;
}
.community .community-img a:hover {
  color: #C46651;
}

.advantages {
  width: 85%;
  margin: 0 auto 240px auto;
  display: flex;
  flex-direction: column;
}
.advantages h2 {
  margin-bottom: 100px;
}
.advantages-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.advantages-card-content {
  width: 33%;
  padding: 20px;
}
.advantages-card-content img {
  margin-bottom: 60px;
}
.advantages-card-content h3 {
  margin-bottom: 20px;
}
.advantages-card-content p {
  font-size: 14px;
}

footer {
  background-color: #F7F7F7;
}
footer .footer-top {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 100px;
}
footer .footer-top .footer-title {
  width: 30%;
}
footer .footer-top .footer-title h3 {
  margin-bottom: 16px;
}
footer .footer-top .footer-title p {
  font-size: 48px;
  font-family: "Merriweather", serif;
}
footer .footer-top .footer-menu {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}
footer .footer-top .footer-menu h3 {
  margin-bottom: 16px;
}
footer .footer-top .footer-menu a {
  margin-bottom: 16px;
}
footer .footer-top .footer-job {
  display: flex;
  flex-direction: column;
}
footer .footer-top .footer-job h3 {
  margin-bottom: 16px;
}
footer .footer-top .footer-job a {
  margin-bottom: 16px;
}
footer .footer-top .footer-assist {
  display: flex;
  flex-direction: column;
}
footer .footer-top .footer-assist h3 {
  margin-bottom: 16px;
}
footer .footer-top .footer-assist a {
  margin-bottom: 16px;
}
footer .footer-bottom {
  width: 85%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 100px 50px 100px;
}
footer .footer-bottom .footer-end-menu a {
  margin-right: 48px;
}

@media screen and (max-width: 480px) {
  body {
    width: 100%;
  }

  .navbar {
    padding: 20px 40px;
  }

  header {
    height: 300px;
    width: 100%;
    background-position: center;
  }

  .cta {
    position: relative;
    bottom: auto;
    margin-left: 0;
    margin-bottom: 120px;
    width: 100%;
    height: auto;
  }
  .cta .cta-content {
    padding: 30px;
  }
  .cta .cta-content h1 {
    font-size: 30px;
  }
  .cta .cta-content p {
    font-size: 16px;
  }
  .cta .cta-content h1, .cta .cta-content p {
    margin-bottom: 15px;
  }
  .cta .cta-content a {
    width: 160px;
    height: 50px;
    font-size: 16px;
  }

  .card-main {
    width: 100%;
    margin: 0px 0px 120px 0px;
  }
  .card-main .card {
    flex-wrap: wrap;
  }
  .card-main .card .card-content {
    width: 100%;
    padding: 30px;
    margin-bottom: 30px;
  }
  .card-main .card .card-content a {
    position: relative;
  }

  .facility-main {
    width: 100%;
    margin-bottom: 120px;
  }
  .facility-main h2 {
    margin-bottom: 50px;
    padding: 20px;
  }
  .facility-main .facility-card {
    flex-wrap: wrap;
  }
  .facility-main .facility-card .facility-content {
    width: 100%;
    padding: 30px;
    margin-bottom: 50px;
  }

  .community {
    width: 100%;
    margin-bottom: 120px;
    flex-wrap: wrap;
  }
  .community .community-title {
    width: 100%;
    margin-right: 0px;
    margin-bottom: 30px;
    padding: 30px;
  }
  .community .community-title a {
    width: 160px;
    height: 50px;
    font-size: 16px;
  }
  .community .community-img {
    flex-wrap: wrap;
    width: 100%;
  }
  .community .community-img .community-content {
    width: 100%;
    padding: 30px;
  }
  .community .community-img .community-content img {
    width: 200px;
  }

  .advantages {
    width: 100%;
    margin-bottom: 120px;
  }
  .advantages h2 {
    padding: 30px;
    margin-bottom: 30px;
  }
  .advantages .advantages-card {
    width: 100%;
    flex-wrap: wrap;
  }
  .advantages .advantages-card .advantages-card-content {
    width: 100%;
    padding: 30px;
  }

  .footer-main .footer-top {
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footer-main .footer-top .footer-title {
    margin: 30px;
  }
  .footer-main .footer-top .footer-menu {
    margin: 30px;
  }
  .footer-main .footer-top .footer-job {
    margin: 30px;
  }
  .footer-main .footer-top .footer-assist {
    margin: 30px;
  }
  .footer-main .footer-bottom {
    width: 100%;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footer-main .footer-bottom p {
    margin: 30px;
  }
  .footer-main .footer-bottom .footer-end-menu {
    flex-direction: column;
  }
  .footer-main .footer-bottom .footer-end-menu div {
    margin: 16px 30px;
  }

  /**.footer-main{
      width: 100%;
      .footer-top{
          width: 80%;
          flex-direction: column;
          .footer-title{
              margin-bottom: 30px;
              h3{font-size: 16px;}
              p{font-size: 30px;}
          }
          .footer-menu{
              margin-bottom: 30px;
          }
          .footer-job{
              margin-bottom: 30px;
          }
          .footer-assist{
              margin-bottom: 30px;
          }
      }
      .footer-bottom{
          width: 80%;
          flex-direction: column;
          padding: 0px;
          margin: 30px;
          p{margin-bottom: 30px;}
      }
  }**/
}
/**@media screen and (min-width: 480px) and (max-width: 1024px){
    .cta{
        position: relative;
        bottom: auto;
        margin-left: 0;
        margin-bottom: 120px;
        width: 100%;
        height: auto;
    }

}**//*# sourceMappingURL=style.css.map */